$white: #FFFFFF;
$pomegranate: #F33131;
$dodger-blue: #4085F6;
$royal-blue: #226BE2;
$denim: #165FD7;
$hint-of-red: #F8F6F6;
$scorpion: #5D5D5D;
$dove-gray: #737373;
$mine-shaft: #3B3B3B;
$silver-chalice: #A2A2A2;
$athens-gray: #F3F5F8;
$ebony-clay: #22233A;
$big-stone: #13253B;
$alabaster: #F7F7F7;
$wild-sand: #F4F4F4;